.git
.next
node_modules
.runtime
.vscode
.DS_Store
tsconfig.tsbuildinfo
npm-debug.log*
*.tar
*.tgz
output

.env*
!.env.example

Dockerfile
docker-compose.yml
Ada_Build_NextJS.bat
Ada_Start_NextJS.bat
